[Unit]
Description=Mozilla IoT Gateway Client
After=network.target
# OnFailure=mozilla-iot-gateway.update-rollback.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
User=mozilla-iot-gateway
WorkingDirectory=/ubos/share/mozilla-iot-gateway

ExecStart=/ubos/share/mozilla-iot-gateway/nvm/versions/node/v8.15.1/bin/node build/gateway.js

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
