[Unit]
Description=Mozilla IoT Gateway Intent Parser
After=network.target
## OnFailure=mozilla-iot-gateway.update-rollback.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
User=mozilla-iot-gateway

WorkingDirectory=/ubos/lib/mozilla-iot-gateway/intent-parser

FIXME:
ExecStart=/home/pi/mozilla-iot/intent-parser/intent-parser-server.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
