[Unit]
Description=Mozilla IoT Gateway Client
After=network.target
# OnFailure=mozilla-iot-gateway.update-rollback.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
User=mozilla-iot-gateway
WorkingDirectory=/ubos/share/mozilla-iot-gateway

# ExecStart=/home/pi/mozilla-iot/gateway/run-app.sh

Environment=NVM_DIR=/ubos/share/mozilla-iot-gateway/nvm
ExecStart=/usr/bin/npm run run-only
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
